<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL9Dialect</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">postgres</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/password_manager</property>

        <property name="connection.pool_size">5</property>
        <property name="hibernate.show_sql">false</property>
        <property name="hbm2ddl.auto">update</property>

        <mapping class="com.passpnu.passwordmanager.entity.Password"/>
        <mapping class="com.passpnu.passwordmanager.entity.User"/>
        <mapping class="com.passpnu.passwordmanager.entity.Service"/>
    </session-factory>
</hibernate-configuration>